.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.LengthContainer {
  display: flex;
  flex-direction: column;
}

body .LengthButton {
  margin: 8px;
  background-color: white;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timingCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StepHeader {
  color: #E49954;
  font-family: 'Roboto Slab', serif;
  margin-left: 50px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  align-self: flex-start;
}

.StepSubheader {
  color: #333333;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.HorizontalStepperStepLabel--active svg {
  color: #49718F !important;
}

.AgendaItem {
  color: #fff;
  padding: 15px 8px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.AgendaItem--activity {
  background-color: #4A718F;
}

.AgendaItem--non-activity {
  background-color: #A4A7AE;
}
